extends layout

block content
    link(rel='stylesheet', href="/stylesheets/index.css")
    script(data-main='../js/main.js', src='../js/require-jquery.js')
    #heading.blockdiv
        h1 todoList
        -if (!user)
            #subheading
                |anonymous@
                |group&nbsp;
                select.span3#groupselect
                    option
                        |public
        -else
            #subheading
                |#{user.name}@
                |group&nbsp;
                select.span3#groupselect
                    option
                        |YuMS' s own
                    option
                        |Group 1
                    option
                        |public
        #inputzone
            form(action="")(method="post")#inputform
                input(name="text")(type="text")(placeholder="What to do?")#inputedit
                input(type="submit")(value="✎")#inputsubmit
    #mainsheet.blockdiv
        #sheet
            ul#multicolomnlist
                each todo in todos
                    li(id="li"+todo.tid)
                        table.innertable
                            tbody.innertbody
                                tr.innertr
                                    td.itemcheck
                                        .itemnumber #{todo.tid}
                                        .checkdiv
                                            if todo.done
                                                input(id="done"+todo.tid)(type="checkbox")(checked).tickcheck
                                            else
                                                input(id="done"+todo.tid)(type="checkbox").tickcheck
                                            label(for="done"+todo.tid).donelabel
                                    td.itemcontent
                                        if todo.done
                                            label(id="todotext"+todo.tid)(for="done"+todo.tid).donetext #{todo.data}
                                        else
                                            label(id="todotext"+todo.tid)(for="done"+todo.tid) #{todo.data}
                                    td.iteminfo
                                        .itemauthor
                                            |hehe@
                                        .itemtime
                                            if todo.date
                                                - var da = todo.date;
                                                - var pad = function(n){return n<10 ? '0' + n : n};
                                                //- var da = new Date(Date.UTC(date.getFullYear(), date.getMonth(), date.getDate(), date.getHours(), date.getMinutes(), date.getSeconds()));
                                                |#{da.getFullYear()}-#{pad(da.getMonth() + 1)}-#{pad(da.getDate())} #{pad(da.getHours())}:#{pad(da.getMinutes())}:#{pad(da.getSeconds())}
                                    td.itemdelete
                                        button(id="delete"+todo.tid).delete X
    #templatepart
        //li#templateli(style="display:none")
        li#templateli(style="display:none")
            table.innertable
                tbody.innertbody
                    tr.innertr
                        td.itemcheck
                            .itemnumber 0
                            .checkdiv
                                input(id="done", type="checkbox").tickcheck
                                label(for="done").donelabel
                        td.itemcontent
                            label(id="todotext", for="done") 0
                        td.iteminfo
                            .itemauthor
                            .itemtime
                        td.itemdelete
                            button(id="delete").delete X

